<div class='field-box {{#if class}} {{class}} {{/if}}'>
	<label for="{{name}}">{{label}}</label>
	<textarea class='textarea-style' id='{{name}}' rows="4" cols="50"></textarea>
	<p class='textarea-info'>{{info}}</p>
</div>
