<div class='field-box  {{#if class}} {{class}} {{/if}} {{#if disabled}} disabled {{/if}}'>
	<label for="{{name}}">{{label}}</label>

	<input class='input-style' type="{{type}}" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}" {{#if value}} value='{{value}}' {{/if}}>
</div>
